<div class="exp-container">
  <div class="header">Work Experience</div>
  <div class="experience-list">
    <div class="timeline" #timeline>
      <div class="container" #container *ngFor="let experience of experiences">
        <div class="round">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-pc-display"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0M9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5M1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2z"
            />
          </svg>
        </div>
        <div class="text-box">
          <h5>{{ experience.title }}</h5>
          <span>{{ experience.company }}</span>
          <div>
            <strong>{{ experience.date }}</strong>
          </div>

          <ul>
            <li
              *ngFor="let point of experience.description"
              [innerHTML]="point"
            ></li>
          </ul>

          <span class="beak"></span>
        </div>
      </div>
    </div>
  </div>
</div>
